<app-header></app-header>
<div class="container mx-auto p-6">
  <div class="mb-6 flex items-center justify-between">
    <h2 class="text-2xl font-semibold">User Profile</h2>
    @if ((user$ | async)?.uid === (user$ | async)?.uid) {
    <button (click)="toggleEditMode()" class="matchup-button">Edit Profile</button>
    }
  </div>

  @if ((user$ | async); as user$) {
  <div>
    <p><strong>Name:</strong> {{ user$.name || user$.email.split('@')[0] }}</p>
    <p><strong>Email:</strong> {{ user$.email }}</p>
  </div>
  }

  <div class="flex flex-col justify-end sm:flex-row sm:space-y-0">
    <a
      [routerLink]="['/', 'add']"
      class="inline-flex items-center justify-center rounded-lg bg-blue-700 px-5 py-3 text-center text-base font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
      Create your event
      <svg class="ms-2 h-3.5 w-3.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
      </svg>
    </a>
  </div>

  <div class="mt-8">
    <div class="flex border-b border-gray-300">
      <button
        [class.text-blue-600]="selectedTab === 'going'"
        [class.border-blue-400]="selectedTab === 'going'"
        [class.text-gray-500]="selectedTab !== 'going'"
        [class.border-transparent]="selectedTab !== 'going'"
        (click)="selectedTab = 'going'"
        class="border-b-2 px-4 py-3 text-lg font-medium transition-all duration-300">
        Going Events
      </button>
      <button
        [class.text-blue-600]="selectedTab === 'hosting'"
        [class.border-blue-400]="selectedTab === 'hosting'"
        [class.text-gray-500]="selectedTab !== 'hosting'"
        [class.border-transparent]="selectedTab !== 'hosting'"
        (click)="selectedTab = 'hosting'"
        class="border-b-2 px-4 py-3 text-lg font-medium transition-all duration-300">
        Hosting Events
      </button>
    </div>

    @if (selectedTab === 'going') {
    <div class="grid grid-cols-1 gap-6 pb-10 pt-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4">
      @for (event of (userEvents$ | async); track $index) {
      <a [routerLink]="['/event', event.id]" class="">
        <app-event-card [event]="event"></app-event-card>
      </a>
      }
    </div>
    } @if (selectedTab === 'hosting') {
    <div class="grid grid-cols-1 gap-6 pb-10 pt-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4">
      @for (event of (myEvents$ | async); track $index) {
      <a [routerLink]="['/event', event.id]" class="">
        <app-event-card [event]="event"></app-event-card>
      </a>
      }
    </div>
    }
  </div>
</div>
