<nav class="absolute left-0 top-0 flex w-full items-center justify-between bg-transparent p-3">
  <a [routerLink]="['/']" class="flex items-center">
    <img class="sm:h-18 h-14 w-auto md:h-20 lg:h-28" src="assets/images/logo-matchup.png" alt="MatchUp Logo" />
  </a>

  <div class="absolute right-5 top-4 flex space-x-3">
    <a
      [routerLink]="['/', 'login']"
      class="inline-flex cursor-pointer items-center justify-center px-4 py-2 text-base font-medium text-white transition duration-300 hover:text-green-500">
      Log in
    </a>
    <a
      [routerLink]="['/', 'register']"
      class="inline-flex items-center justify-center rounded-lg bg-green-700 px-4 py-2 text-base font-medium text-white hover:bg-green-800 focus:ring-4 focus:ring-green-300 dark:focus:ring-green-900">
      Register
    </a>
  </div>
</nav>
